* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.logo{
    width: 70px;
    height: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
}

.instrumentos{
    display: flex;
    gap: 5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D1401B;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
}

.nav-list a:hover {
    background-color: #B12D1A;
}

.instrumento-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.instrumento-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.instrumento-container li img {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.instrumento-container li img:hover {
    transform: scale(1.05);
}
.instrumento-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.instrumento-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instrumento-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.instrumento-info{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#teclados ul li div img{
    width: 100%;
    height: auto;
}

.btn{
    background-color: #D1401B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
}

.btn:hover {
    background-color: #B12D1A;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-contacto{
    margin: 2em;
    padding: 1em;
    text-decoration: none;
}

footer {
    background-color: #D1401B;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;    
}

/* eliminar el logo en celular y agrandar el nav */
@media (max-width: 768px) {
    .logo {
        display: none;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        gap: 10px;
        padding: 2em;
    }
    
}